body {
    /* sets background to the desired blue */
    background: #363795;

    /* backup, older gradient just in case */
    background: -webkit-linear-gradient(to right, #005c97, #363795);

    /* sets background to do gradient from left to right */
    background: linear-gradient(to right, #005c97, #363795);
}